.front-page {
    text-align: center;
    height: 60vh;
    background-image: url("../../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.directory-container-front {
    padding-top: 50px;
}