.front-page {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    min-height: 30vh;
    padding-bottom: 100px;

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .front-page-text {
        order: 1;
        font-size: 30px;
    }

    .front-page-img {
        order: 2;
    }
}

.front-page-button {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.front-page-info {
    background-color: #FC195A;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    min-height: 30vh;

    .front-page-icon {
        max-width: 200px;
    }

    .icon-container {
        margin: auto;
        width: 100%;
    }
}

.directory-container-front {
    padding-top: 50px;
}

@media only screen and (max-width: 1000px) {
    .front-page-img {
        display: none !important;
    }
}