.payment-form-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    height: 100px;
    min-width: 500px;
}