.favorites-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    background-color: azure;
    min-height: 30vh;

}

.remove-favorite-button {

    top: 5px;
    right: 5px;
}