.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (max-width: 800px) {
    align-items: center;
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }

    @media screen and (max-width: 400px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
  }

  .favorite-button {

    .favorite-icon {
      color: red;
      font-size: 30px;
      top: 5px;
      right: 5px;
      position: absolute;

    }
  }

}